<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wang.serviceimp.dao.permission.write.PermissionResourceWriteDao">
	
  	<resultMap id="BaseResultMap" type="com.wang.service.entity.permission.PermissionResourceEntity">
		<id column="resourceID" property="resourceID" jdbcType="INTEGER"/>
		<result column="selfID" property="selfID" jdbcType="INTEGER"/>
		<result column="selfType" property="selfType" jdbcType="VARCHAR"/>
		<result column="parentID" property="parentID" jdbcType="INTEGER"/>
		<result column="parentType" property="parentType" jdbcType="VARCHAR"/>
	</resultMap>
	
	<sql id="getAllColumn">
		resourceID, selfID, selfType, parentID, parentType
    </sql> 
	
    <insert id="addResource"> <!-- useGeneratedKeys="true" keyProperty="resourceID" -->
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="resourceID">
			SELECT LAST_INSERT_ID() as resourceID
		</selectKey>
		insert into permission_resource(
			selfID,selfType,parentID,parentType
		) values(
			#{selfID,jdbcType=INTEGER},#{selfType,jdbcType=VARCHAR},
			#{parentID,jdbcType=INTEGER},#{parentType,jdbcType=VARCHAR}
		)
    </insert>
    
</mapper>