<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wang.serviceimp.dao.permission.write.PermissionResourceWriteDao">
	
    <insert id="addAppResource" useGeneratedKeys="true" keyProperty="resourceID">
		insert into permission_resource(
			selfID,selfType,parentID,parentType
		) values(
			#{selfID,jdbcType=INTEGER},'SYS_APP',0,'SYS_APP'
		)
    </insert>
    
</mapper>