<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wang.serviceimp.dao.permission.write.PermissionAppTypeWriteDao">
		
  	<resultMap id="BaseResultMap" type="com.wang.service.entity.permission.PermissionAppTypeEntity">
		<id column="appTypeID" property="appTypeID" jdbcType="INTEGER"/>
		<result column="appTypeName" property="appTypeName" jdbcType="VARCHAR"/>
		<result column="sortNum" property="sortNum" jdbcType="INTEGER"/>
		<result column="isCurrent" property="isCurrent" jdbcType="INTEGER"/>
		<result column="isDelete" property="isDelete" jdbcType="INTEGER"/>
		<result column="theNote" property="theNote" jdbcType="VARCHAR"/>
	</resultMap>
	
	<sql id="getAllColumn">
		appTypeID, appTypeName, sortNum, isCurrent, isDelete, theNote
    </sql> 
  	
  	<update id="deleteAppTypeByID">
  		update 
  			permission_apptype
  		set  
  			isDelete = 0
		where 
			appTypeID = #{appTypeID,jdbcType=INTEGER} 
  	</update>
  	
  	<insert id="addAppType" parameterType="com.wang.service.param.permission.PermissionAppTypeParam">
  		insert into permission_apptype ( 
  			appTypeName, sortNum, 
  			isCurrent, isDelete, theNote
  		) values ( 
  			#{appTypeName,jdbcType=VARCHAR}, #{sortNum,jdbcType=INTEGER},
  			1, 1, #{theNote,jdbcType=VARCHAR}
  		)
  	</insert>
  	
  	<update id="updateAppType" parameterType="com.wang.service.param.permission.PermissionAppTypeParam">
  		update 
  			permission_apptype
  		set  
  			appTypeName = #{appTypeName,jdbcType=VARCHAR}, sortNum = #{sortNum,jdbcType=INTEGER}, 
  			theNote = #{theNote,jdbcType=VARCHAR}
		where 
			appTypeID = #{appTypeID,jdbcType=INTEGER} 
  	</update>
  	
  	
</mapper>