<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wang.serviceimp.dao.permission.write.PermissionOrgWriteDao">
		
  	<resultMap id="BaseResultMap" type="com.wang.service.entity.permission.PermissionOrgEntity">
		<id column="orgID" property="orgID" jdbcType="INTEGER"/>
		<result column="orgCode" property="orgCode" jdbcType="VARCHAR"/>
		<result column="orgName" property="orgName" jdbcType="VARCHAR"/>
		<result column="orgShortName" property="orgShortName" jdbcType="VARCHAR"/>
		<result column="orgLevel" property="orgLevel" jdbcType="INTEGER"/>
		<result column="parentOrgID" property="parentOrgID" jdbcType="INTEGER"/>
		<result column="sortNum" property="sortNum" jdbcType="INTEGER"/>
		<result column="isCurrent" property="isCurrent" jdbcType="INTEGER"/>
		<result column="isDelete" property="isDelete" jdbcType="INTEGER"/>
		<result column="createDT" property="createDT" jdbcType="TIMESTAMP"/>
		<result column="theNote" property="theNote" jdbcType="VARCHAR"/>
	</resultMap>
	
	<sql id="getAllColumn">
		orgID, orgCode, orgName, orgShortName, orgLevel, parentOrgID, sortNum, isCurrent, isDelete, createDT, theNote
    </sql> 
    
  	<update id="deleteOrgByID">
  		update 
  			permission_org 
  		set  
  			isDelete = 0
		where 
			orgID = #{orgID,jdbcType=INTEGER} 
  	</update>
  	
  	<insert id="insertBusinessPay" parameterType="com.wang.service.param.permission.PermissionOrgParam">
  		insert into permission_org ( 
  			orgCode, orgName, orgShortName, 
  			orgLevel, parentOrgID, sortNum, 
  			isCurrent, isDelete, createDT, theNote
  		) values ( 
  			#{orgID,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, #{orgShortName,jdbcType=VARCHAR},
  			#{orgLevel,jdbcType=INTEGER}, orgID = #{parentOrgID,jdbcType=INTEGER}, orgID = #{sortNum,jdbcType=INTEGER},
  			1, 1, now(), #{theNote,jdbcType=VARCHAR}
  		);
  	</insert>
  	
  	<update id="updateOrg" parameterType="com.wang.service.param.permission.PermissionOrgParam">
  		update 
  			permission_org 
  		set  
  			orgCode = #{orgCode,jdbcType=VARCHAR}, orgName = #{orgName,jdbcType=VARCHAR}, 
  			orgShortName = #{orgShortName,jdbcType=VARCHAR}, orgLevel = #{orgLevel,jdbcType=INTEGER}, 
  			parentOrgID = #{parentOrgID,jdbcType=INTEGER}, sortNum = #{sortNum,jdbcType=INTEGER}, 
  			theNote = #{theNote,jdbcType=VARCHAR}
		where 
			orgID = #{orgID,jdbcType=INTEGER} 
  	</update>
  	
</mapper>