<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wang.serviceimp.dao.permission.read.PermissionPostReadDao">
	
  	<resultMap id="BaseResultMap" type="com.wang.service.entity.permission.PermissionPostEntity">
		<id column="postID" property="postID" jdbcType="INTEGER"/>
		<result column="postName" property="postName" jdbcType="VARCHAR"/>
		<result column="sortNum" property="sortNum" jdbcType="INTEGER"/>
		<result column="isCurrent" property="isCurrent" jdbcType="INTEGER"/>
		<result column="isDelete" property="isDelete" jdbcType="INTEGER"/>
		<result column="theNote" property="theNote" jdbcType="VARCHAR"/>
	</resultMap>
	
	<sql id="getAllColumn">
		postID, postName, sortNum, isCurrent, isDelete, theNote
    </sql> 
	
	<select id="getPageList" resultType="java.util.Map" parameterType="com.wang.service.param.permission.PermissionPostParam">
		select
			a.postID, a.postName, a.sortNum, a.isCurrent, a.isDelete, a.theNote
		from permission_post a
		<where>
			a.isDelete=1
			<if test="postName != null and postName !=''">
				and a.postName like '%${postName}%'
			</if>
		</where>
		order by a.sortNum asc 
	</select>
	
	<select id="getPostByID" resultType="java.util.Map">
		select
			a.postID, a.postName, a.sortNum, a.isCurrent, a.isDelete, a.theNote
		from permission_post a
		where a.isDelete=1 and a.postID = #{postID ,jdbcType=INTEGER}
	</select>
	
	<select id="checkExistPostName" resultType="java.lang.Integer" parameterType="com.wang.service.param.permission.PermissionPostParam">
		select count(*)
		from permission_post 
		<where>
			isDelete = 1
			and postName = #{postName ,jdbcType=VARCHAR}
			<if test="postID != null and postID !=''">
				and postID != #{postID ,jdbcType=INTEGER} 
			</if>
		</where>
	</select>
	
</mapper>
