<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wang.serviceimp.dao.permission.read.PermissionOrgReadDao">
	
  	<resultMap id="BaseResultMap" type="com.wang.service.entity.permission.PermissionOrgEntity">
		<id column="orgID" property="orgID" jdbcType="INTEGER"/>
		<result column="orgCode" property="orgCode" jdbcType="VARCHAR"/>
		<result column="orgName" property="orgName" jdbcType="VARCHAR"/>
		<result column="orgShortName" property="orgShortName" jdbcType="VARCHAR"/>
		<result column="orgLevel" property="orgLevel" jdbcType="INTEGER"/>
		<result column="parentOrgID" property="parentOrgID" jdbcType="INTEGER"/>
		<result column="sortNum" property="sortNum" jdbcType="INTEGER"/>
		<result column="isCurrent" property="isCurrent" jdbcType="INTEGER"/>
		<result column="isDelete" property="isDelete" jdbcType="INTEGER"/>
		<result column="createDT" property="createDT" jdbcType="TIMESTAMP"/>
		<result column="theNote" property="theNote" jdbcType="VARCHAR"/>
	</resultMap>
	
	<sql id="getAllColumn">
		orgID, orgCode, orgName, orgShortName, orgLevel, parentOrgID, sortNum, isCurrent, isDelete, createDT, theNote
    </sql> 
	
	<select id="getPageList" resultType="java.util.Map" parameterType="com.wang.service.param.permission.PermissionOrgParam">
		select
			a.orgID as orgID, a.orgCode as orgCode, a.orgName as orgName, a.orgShortName as orgShortName, 
			a.orgLevel as orgLevel, a.parentOrgID as parentOrgID, a.sortNum as sortNum, a.isCurrent as isCurrent, 
			a.isDelete as isDelete, a.createDT as createDT, a.theNote as theNote, b.orgName as parentOrgName
		from permission_org a
		left join permission_org b on a.parentOrgID = b.orgID
		<where>
			a.isDelete=1
			<if test="orgID != null and orgID !=''">
				and ( a.orgID = #{orgID ,jdbcType=INTEGER} or a.parentOrgID = #{orgID ,jdbcType=INTEGER} )
			</if>
			<if test="orgCode != null and orgCode !=''">
				and a.orgCode like '%${orgCode}%'
			</if>
			<if test="orgName != null and orgName !=''">
				and a.orgName like '%${orgName}%'
			</if>
		</where>
		order by a.sortNum asc 
		limit #{pageStart ,jdbcType=INTEGER}, #{pageEnd ,jdbcType=INTEGER}
	</select>
	
	<select id="getPageTotal" resultType="java.lang.Integer" parameterType="com.wang.service.param.permission.PermissionOrgParam">
		select count(1)
		from permission_org a
		left join permission_org b on a.parentOrgID = b.orgID
		<where>
			a.isDelete=1
			<if test="orgID != null and orgID !=''">
				and ( a.orgID = #{orgID ,jdbcType=INTEGER} or a.parentOrgID = #{orgID ,jdbcType=INTEGER} )
			</if>
			<if test="orgCode != null and orgCode !=''">
				and a.orgCode like '%${orgCode}%'
			</if>
			<if test="orgName != null and orgName !=''">
				and a.orgName like '%${orgName}%'
			</if>
		</where>
	</select>
	
	<select id="getOrgByID" resultType="java.util.Map">
		select
			a.orgID as orgID, a.orgCode as orgCode, a.orgName as orgName, a.orgShortName as orgShortName, 
			a.orgLevel as orgLevel, a.parentOrgID as parentOrgID, a.sortNum as sortNum, a.isCurrent as isCurrent, 
			a.isDelete as isDelete, a.createDT as createDT, a.theNote as theNote, b.orgName as parentOrgName
		from permission_org a
		left join permission_org b on a.parentOrgID = b.orgID
		where a.isDelete=1 and a.orgID = #{orgID ,jdbcType=INTEGER}
	</select>
	
	<select id="checkOrgFromParentOrg" resultType="java.lang.Integer">
		select count(*)
		from permission_org 
		where parentOrgID = #{orgID ,jdbcType=INTEGER} and isDelete = 1
	</select>
	
	<select id="checkExistOrgName" resultType="java.lang.Integer" parameterType="com.wang.service.param.permission.PermissionOrgParam">
		select count(*)
		from permission_org 
		<where>
			isDelete = 1
			and parentOrgID = #{parentOrgID ,jdbcType=INTEGER}
			and orgName = #{orgName ,jdbcType=VARCHAR}
			<if test="orgID != null and orgID !=''">
				and orgID != #{orgID ,jdbcType=INTEGER} 
			</if>
		</where>
	</select>
	
	<select id="checkExistOrgCode" resultType="java.lang.Integer" parameterType="com.wang.service.param.permission.PermissionOrgParam">
		select count(*)
		from permission_org 
		<where>
			isDelete = 1
			and parentOrgID = #{parentOrgID ,jdbcType=INTEGER}
			and orgCode = #{orgCode ,jdbcType=VARCHAR}
			<if test="orgID != null and orgID !=''">
				and orgID != #{orgID ,jdbcType=INTEGER} 
			</if>
		</where>
	</select>
	
	<select id="findOrgForTree" resultType="com.wang.service.param.permission.PermissionOrgParam">
		select a.orgID as orgID,a.orgName as orgName,
			(select count(*) from permission_org where isDelete=1 and parentOrgID = a.orgID) as isParent 
		from  permission_org a 
		where a.isDelete = 1 and a.parentOrgID = #{parentOrgID ,jdbcType=INTEGER} 
		order by a.sortNum asc
	</select>
	
	<select id="getOrgParamByID" resultType="com.wang.service.param.permission.PermissionOrgParam">
		select
			a.orgID as orgID, a.orgCode as orgCode, a.orgName as orgName, a.orgShortName as orgShortName, 
			a.orgLevel as orgLevel, a.parentOrgID as parentOrgID, a.sortNum as sortNum, a.isCurrent as isCurrent, 
			a.isDelete as isDelete, a.createDT as createDT, a.theNote as theNote, b.orgName as parentOrgName,
			(
				select count(1)
				from permission_org c
				where c.parentOrgID = a.orgID
			) as isParent
		from permission_org a
			left join permission_org b on a.parentOrgID = b.orgID
		where a.isDelete = 1 and a.orgID = #{orgID, jdbcType=INTEGER}
	</select>
	
	<select id="getChildrenOrgByOrgID" resultType="java.lang.Integer" parameterType="com.wang.service.param.permission.PermissionOrgParam">
		select
			a.orgID as orgID, a.orgCode as orgCode, a.orgName as orgName, a.orgShortName as orgShortName, 
			a.orgLevel as orgLevel, a.parentOrgID as parentOrgID, a.sortNum as sortNum, a.isCurrent as isCurrent, 
			a.isDelete as isDelete, a.createDT as createDT, a.theNote as theNote, b.orgName as parentOrgName,
			(
				select count(1)
				from permission_org c
				where c.parentOrgID = a.orgID
			) as isParent
		from permission_org a
			left join permission_org b on a.parentOrgID = b.orgID
		where a.isDelete = 1 and a.parentOrgID = #{orgID, jdbcType=INTEGER}
	</select>
	
	<select id="checkOrgFromUserOrg" resultType="java.lang.Integer">
		select count(1)
		from permission_user_org a
		left join permission_user_info b on a.userID = b.userID
		where b.isDelete = 1 and a.orgID = #{orgID, jdbcType=INTEGER}
	</select>
	
</mapper>
