<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wang.serviceimp.dao.permission.read.PermissionResourceReadDao">
	
  	<resultMap id="BaseResultMap" type="com.wang.service.entity.permission.PermissionResourceEntity">
		<id column="resourceID" property="resourceID" jdbcType="INTEGER"/>
		<result column="selfID" property="selfID" jdbcType="INTEGER"/>
		<result column="selfType" property="selfType" jdbcType="VARCHAR"/>
		<result column="parentID" property="parentID" jdbcType="INTEGER"/>
		<result column="parentType" property="parentType" jdbcType="VARCHAR"/>
	</resultMap>
	
	<sql id="getAllColumn">
		resourceID, selfID, selfType, parentID, parentType
    </sql> 
    
    <select id="getResourceByAppID" resultMap="BaseResultMap">
    	select * 
    	from permission_resource 
    	where selfID = #{selfID ,jdbcType=INTEGER} 
    	and selfType= 'SYS_APP'
    </select>
    
    <select id="getResourceByMenuID" resultMap="BaseResultMap">
    	select * 
    	from permission_resource 
    	where selfID = #{selfID ,jdbcType=INTEGER} 
    	and selfType= 'SYS_MENU'
    </select>
    
    <select id="getResourceByElementID" resultMap="BaseResultMap">
    	select * 
    	from permission_resource 
    	where selfID = #{selfID ,jdbcType=INTEGER} 
    	and selfType= 'SYS_ELEMENT'
    </select>
    
    <select id="getResourceByID" resultType="com.wang.service.param.permission.PermissionResourceParam">
    	select * 
    	from permission_resource 
    	where resourceID = #{resourceID ,jdbcType=INTEGER}
    </select>
    
    <select id="getResourceForApp" resultType="com.wang.service.param.permission.PermissionResourceParam">
		select 
			b.resourceID as resourceID,
			a.appName as selfName,
			b.selfType as selfType,
			b.selfID as selfID,
			(
				select count(*) 
				from permission_resource c 
				inner join permission_menu d on c.selfID = d.menuID
				where c.parentType='SYS_APP' and c.selfType = 'SYS_MENU' and c.parentId = b.selfId
			) as isParent
		from permission_app a 
		inner join permission_resource b on b.selfID = a.appID
			and b.selfType='SYS_APP' and b.parentType='SYS_APP' and a.isDelete = 1
    </select>
    
    <select id="getResourceForMenu" resultType="com.wang.service.param.permission.PermissionResourceParam">
		select 
			a.resourceID as resourceID,
			b.menuName as selfName,
			a.selfType as selfType,
			a.selfID as selfID,
			(
				select count(1)
				from permission_resource c
				inner join permission_menu d on c.selfID = d.menuID
				where  d.isDelete = 1 and c.parentID = a.resourceID and c.selfType = 'SYS_MENU'
			) as isParent
		from permission_resource a 
		inner join permission_menu b on a.selfID = b.menuID 
			and a.selfType = 'SYS_MENU'
			and b.isDelete=1 
		where a.parentID = #{parentID ,jdbcType=INTEGER}
    </select>
    
    <select id="getResourceForElement" resultType="com.wang.service.param.permission.PermissionResourceParam">
		select 
			a.resourceID as resourceID,
			b.elementName as selfName,
			a.selfType as selfType,
			a.selfID as selfID,
			0 as isParent
		from permission_resource a 
		inner join permission_element b on a.selfID = b.elementID 
			and a.selfType = 'SYS_ELEMENT'
			and b.isDelete=1 
		where a.parentID = #{parentID ,jdbcType=INTEGER}
    </select>
	
</mapper>
